.ceiling {
	color: #ff00ff;
}
.floor {
	color: #66ccff;
}
.reference {
	color: #f7ff31;
}
.up {
	color: #00ff00;
}
.reduce {
	color: #ff0000;
}
.bg-main {
	background-color: #1d1d1d;
	color: #ffffff;
}
.bg-sub {
	background-color: #444444;
}
.container {
	max-width: 1340px;
}
.dataTables_filter_custom {
	text-align: right;
}
.dataTables_filter_custom input {
	margin-left: 0.5em;
	display: inline-block;
	width: auto;
}